<video-toolbar></video-toolbar>
<md-content>

<!-- display LIST -->
  <md-list ng-show="app.options.display === 'list'" class="maxWidth">
    <md-list-item ng-repeat="video in (app.videos | orderBy:app.options.orderProp | paginationFilter:app.paginationFilter() | limitTo:app.options.currentPageSize) track by $index" class="md-2-line">
      <img class="md-avatar" ng-src="{{video.thumbnail}}" ng-click="app.paginationFilter()" alt="{{video.title}}">
      <div class="md-list-item-text" layout="column">
        <h3>{{video.title}}</h3>
        <p>Views: {{video.viewCount}}</p>
        <p>Likes: {{video.likeCount}}</p>
        <p>Date of addition: {{video.date | date:'dd-M-yyyy  HH:mm'}}</p>
      </div>
      <div layout="column">
        <md-button class="md-raised" ng-click="app.watchVideo(video)">Watch</md-button>
        <md-button class="md-raised" ng-click="app.deleteVideo(video)">Delete</md-button>
        <md-button class="md-raised" ng-click="app.addToFavourites(video)" ng-hide="video.favourite">Add to fav</md-button>
        <md-button class="md-raised" ng-click="app.addToFavourites(video)" ng-show="video.favourite">Remove from fav</md-button>
      </div>
    </md-list-item>
  </md-list>
<!-- /display LIST -->

<!-- display GRID -->
  <div ng-show="app.options.display === 'grid'" class="maxWidth">
    <md-card ng-repeat="video in (app.videos | orderBy:app.options.orderProp | paginationFilter:app.paginationFilter() | limitTo:app.options.currentPageSize) track by $index" class="md-image-no-fill">
      <img class="md-card-image" ng-src="{{video.thumbnail}}" ng-click="app.watchVideo(video)" alt="{{video.title}}">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{video.title}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>Views: {{video.viewCount}}</p>
        <p>Likes: {{video.likeCount}}</p>
        <p>Date of addition: {{video.date | date:'dd-M-yyyy  HH:mm'}}</p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="app.watchVideo(video)">Watch</md-button>
        <md-button class="md-raised" ng-click="app.deleteVideo(video)">Delete</md-button>
        <md-button class="md-raised" ng-click="app.addToFavourites(video)" ng-hide="video.favourite">Add to fav</md-button>
        <md-button class="md-raised" ng-click="app.addToFavourites(video)" ng-show="video.favourite">Remove from fav</md-button>
      </md-card-actions>
    </md-card>
  </div>
<!-- /display GRID -->
</md-content>