<div>
  <md-content>
    <md-tabs md-dynamic-height md-border-top>
      <md-tab label="Bar graph">
        <md-content class="md-padding">
          <div id="bar"></div>
        </md-content>
      </md-tab>
      <md-tab label="Map">
        <md-content class="md-padding">
          <div id="map"></div>
        </md-content>
      </md-tab>
      <md-tab label="Linear graph">
        <md-content class="md-padding">
          <div id="linear"></div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>