<md-toolbar>
  <div class="md-toolbar-tools">
    <div flex>
      <md-input-container>
        <md-select-header>View</md-select-header>
        <md-select ng-model="$ctrl.options.currentPageSize" placeholder="Select number of videos per site">
          <md-option ng-value="currentPageSize" ng-repeat="currentPageSize in $ctrl.options.pageSizes track by $index">{{currentPageSize}}</md-option>
        </md-select>
      </md-input-container>
      <md-button class="md-raised" ng-click="$ctrl.options.display = 'list'" ng-disabled="$ctrl.options.display === 'list'">LIST</md-button>
      <md-button class="md-raised" ng-click="$ctrl.options.display = 'grid'" ng-disabled="$ctrl.options.display === 'grid'">GRID</md-button>
      <md-input-container>
        <md-select-header>Sort by</md-select-header>
        <md-select ng-model="$ctrl.options.orderProp" placeholder="Select sort">
          <md-option value="-date">Newest</md-option>
          <md-option value="date">Oldest</md-option>
          <md-option value="title">A-Z</md-option>
          <md-option value="-title">Z-A</md-option>
        </md-select>
      </md-input-container>
    </div>
  </div>
  <div class="md-toolbar-tools">
    <div flex>
      <md-button class="md-raised" ng-click="$ctrl.showFavourites($ctrl.videos)" ng-disabled="$ctrl.options.onlyFavourites">Only fav</md-button>
      <md-button class="md-raised" ng-click="$ctrl.showAll()" ng-disabled="!$ctrl.options.onlyFavourites">All videos</md-button>
      <md-button class="md-raised" ng-click="$ctrl.loadDemoVideos()" ng-hide="$ctrl.options.onlyFavourites">Load demo videos</md-button>
      <md-button class="md-raised" ng-click="$ctrl.removeAll()">Remove all videos</md-button>
    </div>
  </div>
  <div class="md-toolbar-tools">
    <div flex>
      <md-button class="md-raised" ng-click="$ctrl.prevPage($ctrl.options.currentPage, $ctrl.options.currentPageSize, $ctrl.options.onlyFavourites, $ctrl.videos)" ng-disabled="$ctrl.options.currentPage === 0"><</md-button>
      <span>{{$ctrl.options.currentPage + 1}} of {{$ctrl.numberOfPages($ctrl.options.currentPageSize, $ctrl.options.onlyFavourites, $ctrl.videos)}}</span>
      <md-button class="md-raised" ng-click="$ctrl.nextPage()" ng-disabled="$ctrl.options.currentPage >= ($ctrl.numberOfPages($ctrl.options.currentPageSize, $ctrl.options.onlyFavourites, $ctrl.videos) - 1)">></md-button>
    </div>
  </div>
</md-toolbar>
